html {
	box-sizing: border-box;
}

body {
	background: hsl(240, 100%, 99%);
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

header,
footer {
	background: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 100%);
	text-align: center;
	padding: 1.5625em 0;
}

header {
	margin-bottom: 1.5625em;
}

main {
	border: 5px solid red;
	background: hsl(180, 100%, 50%);
	width: 600px;
	padding: 6.25em;
	margin: 0 auto;
}

footer {
	margin-top: 1.5625em;
}